{% extends 'books/base.html' %}
{% load static %}

{% block content %}
<section class="carousel">
    <video autoplay muted loop>
        <source src="{% static 'data/videoplayback.webm' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="carousel-overlay">
        <h1>Welcome to 𝒦𝒾𝓉𝒶𝒶𝒷 𝑀𝒶𝒽𝒶𝓁</h1>
        <p>Your gateway to exploring endless stories and knowledge. Dive into your next adventure with us.</p>
        <button id="scrollButton">Start Reading</button>
    </div>
</section>

<section class="container">
    {% for book in books %}
    <div class="card">
        <img src="{{ book.cover_image.url }}" alt="{{ book.title }}">
        <div class="card-content">
            <h3 class="card-title">{{ book.title }}</h3>
            {% if book.description %}
            <p class="card-description">{{ book.description }}</p>
            {% endif %}
        </div>
        <a href="{% url 'book_detail' book.id %}">
            <div class="card-footer">Read Now</div>
        </a>
    </div>
    {% endfor %}
</section>

<script>
    const scrollButton = document.getElementById('scrollButton');
    const bookCards = document.querySelector('.container');

    scrollButton.addEventListener('click', function() {
        bookCards.scrollIntoView({ behavior: 'smooth' });
    });
</script>
{% endblock %} 